@property --accent-color {
  syntax: "<color>";
  inherits: true;
  initial-value: rebeccapurple;
}

/* not supported in chrome. lmao */
@supports (color: accentcolor) {
  :root {
    --accent-color: accentcolor;
  }
}

:root {
  --tiny-border-size: 2px;
  --chevron: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='rgb(136, 145, 164)' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3E%3Cpolyline points='6 9 12 15 18 9'%3E%3C/polyline%3E%3C/svg%3E");

  scroll-behavior: smooth;
  background: canvas;
  font-family: sans-serif;
  overflow-wrap: break-word;

  box-sizing: border-box;
  width: 100%;
  margin-left: auto;
  margin-right: auto;

  /* viewport breakpoints borrowed from picocss */

  @media screen and (width < 576px) {
    padding-left: 1rem;
    padding-right: 1rem;
  }

  @media screen and (width >=576px) {
    max-width: 510px;
    font-size: 106.25%;
  }

  @media screen and (width >=768px) {
    max-width: 700px;
    font-size: 112.5%;
  }

  @media screen and (width >=1024px) {
    max-width: 950px;
    font-size: 118.75%;
  }

  @media screen and (width >=1280px) {
    max-width: 1200px;
    font-size: 125%;
  }

  @media screen and (width >=1536px) {
    max-width: 1450px;
    font-size: 131.25%;
  }
}

a {
  color: linktext;
  transition: color 200ms, text-decoration-color 200ms;
  text-decoration: underline currentcolor;

  @media screen and (hover: hover) {
    &:not(:hover) {
      text-decoration-color: transparent;
    }
  }
}

nav[aria-label=breadcrumb] {
  ul {
    padding: 0;
  }

  li {
    display: inline-flex;

    a,
    &::after {
      margin: 1rem .2rem;
    }

    align-items: center;
  }

  li:not(:last-child)::after {
    content: "";
    /* background: var(--chevron); */
    /* color: graytext; */
    /* text-align: center;
    text-decoration: none;
    white-space: nowrap; */
    display: inline-block;
    width: 1rem;
    height: 1rem;
    transform: rotate(-90deg);
    background-image: var(--chevron);
    background-position: right center;
    background-size: 1rem auto;
    background-repeat: no-repeat;
  }

  a[aria-current=page] {
    color: inherit;
    text-decoration: none;
    pointer-events: none;
  }
}

@property --table-border-color {
  syntax: "<color>";
  inherits: true;
  initial-value: rebeccapurple;
}

:root {
  --table-border-color: oklch(from var(--accent-color) l c h / 10%);
}

table {
  display: block;
  overflow: scroll;
  border-spacing: 0;

  th,
  td {
    padding: .5em;
    border-bottom: var(--tiny-border-size) solid var(--table-border-color);
  }
}

pre {
  border-radius: .5em;
  padding: 1em;
  background: field;
  color: fieldtext;

  overflow: scroll;
}

@property --admonition-hue {
  syntax: "<angle>";
  inherits: false;
  initial-value: 0deg;
}

.admonition {
  border-radius: 8px;
  padding: .5em .8em;

  margin: 1em 0;

  &::before {
    --admonition-hue: inherit;
    display: block;
    margin: .5em 0;
    font-weight: 600;
    color: light-dark(oklch(50% 50% var(--admonition-hue)),
        oklch(60% 50% var(--admonition-hue)));
  }

  border: var(--tiny-border-size) solid light-dark(oklch(50% 40% var(--admonition-hue) / 20%),
    oklch(80% 50% var(--admonition-hue) / 20%));

  background-color: light-dark(oklch(50% 40% var(--admonition-hue) / 15%),
    oklch(80% 50% var(--admonition-hue) / 15%));


  &.caution {
    &::before {
      content: "Caution";
    }

    --admonition-hue: 45deg;
  }

  &.warning {
    &::before {
      content: "Warning";
    }

    --admonition-hue: 90deg;
  }

  &.tip {
    &::before {
      content: "Tip";
    }

    --admonition-hue: 135deg;
  }

  &.note {
    &::before {
      content: "Note";
    }

    --admonition-hue: 270deg;
  }

  &.important {
    &::before {
      content: "Important";
    }

    --admonition-hue: 315deg;
  }
}